#User {
  /* position */
  position: fixed;
  top: 0;
  right: 1rem;
  z-index: 3;

  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* spacing */
  margin: 0.25rem;

  /* font */
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light);

  /* background & border */
  background-color: var(--dark);
  border-radius: 1rem;
  border: 0.25rem solid var(--light);
}
#User button {
  display: flex;
  justify-content: center;
  margin: 0rem;
  padding: 0.1rem 0.5rem;
  width: 100%;
  border-radius: 1rem;
}
@media screen and (max-width: 600px) {
  #User{
    position: static;
    width: fit-content;
  }

}