.log-entry{
  /* Display */
  display: flex;
  flex-direction: column;
  /* Spacing */
  padding: 0.5rem 1.5rem;
  margin: 1rem 1rem;
  /* Background & Border */
  border-radius: 3rem;
  background-color: var(--dark-blue);
}
.log-entry.current{
  background-color: salmon;
  color: maroon;
}
.log-entry.current span{
  color: maroon;
}

.log-entry .datetime-info{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.data-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  color: var(--light);
  height: fit-content;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 1rem;
}
.data-field span{
  font-weight: 400;
  width: max-content;
}
.log-entry .tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.log-entry .tags span{
  margin: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .log-entry .datetime-info{
    flex-wrap: wrap;
  }
}