#Clock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Clock form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25rem;
}

/* Logo */
#logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: 700;
  color: lightgreen;
  font-size: 3rem;
  border-radius: 3rem;
}

/* Clocked Since */
.clocked-since {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.clocked-since.out {
  opacity: 0;
}
.clocked-since span {
  border-radius: 3rem;
  color: var(--light);
  margin: 0 1rem;
}
.clocked-time-label {
  color: var(--light);
}

/* Clock In/Out Button */
#clock-in,
#clock-out {
  font-weight: 700;
  font-size: 2rem;
  max-width: 9em;
}
#clock-in {
  background-color: lightgreen;
}
#clock-out {
  background-color: salmon;
}

#clock-adjusters{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#rate-wrap{
  /* Display */
  display: flex;
  align-items: center;
  /* Spacing & Sizing */
  padding: 0.75rem;
  height: fit-content;
  /* Background & Border */
  background-color: var(--light);
  border-radius: 3rem;
  /* text */
  color: var(--dark);
  font-weight: normal;
}
#rate-wrap input{
  width: 5rem;
  text-align: center;
  margin: 0 0.25rem;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  #Clock {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo {
    position: static;
    top: auto;
    left: auto;
  }
}
@media screen and (max-width: 600px) {
  #Clock form {
    padding: 0 1rem;
    width: 100%;
  }

}
@media screen and (max-width: 400px) {
  #logo {
    font-size: 2rem;
  }
  .clocked-since{
    flex-direction: column;
  }
}
@media screen and (max-height: 700px) {
  #Clock {
    height: 100%;
    overflow-y: auto;
    justify-content: flex-start;
  }
  #logo {
    position: static;
    top: auto;
    left: auto;
  }
}
